* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}
body {
  color: #fff;
  margin: 0;
  background-color: #000;
  background-image: url(images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-position: bottom center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
a {
  color: white;
  text-decoration: none;
}
nav ul {
  font-size: x-large;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}
nav li {
  flex: 33%;
  white-space: nowrap;
}
h2 {
  margin: 0px;
  font-size: 200px;
  text-transform: uppercase;
  font-family: Cambria, Cochin, Georgia;
}
h3 {
    margin: 0px;
    font-size: larger;
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia;
  }
main {
  text-align: center;
}
.main-honda {
  margin-top: -300px;
}
.fifty-image {
    margin-top: -200px;
    width:50vw;
  }
.sixty-image {
  width: 60vw;
}
.twenty-image {
  width: 20vw;
}
span.ruck-text {
  display: inline-block;
  font-family: Impact;
}
footer {
  display: flex;
  justify-content: space-between;
}
.thirty-image {
    margin-top: -200px;
    width:50vw;
}
.right-text {
  text-align: right;
  padding-right: 20px;
}
